<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <form action="\editEvent\{{Event.id}}" method="POST">
            {% csrf_token %}
      name:  <input type="text" value="{{Event.name}}" name="name">
      descrption: <textarea name="desc">{{Event.description }}</textarea>
      numberOfTickets: <input type="number" value="{{Event.numberOfTickets}}" name="number">
      <input type="submit" value="submit">
    </form>
</body>
</html>