<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    </head>

<body>
    {% include 'app1/header.html'%}
<p>
        <a href='https://photos.google.com/share/AF1QipN9KL3IUctaku7iqA0mJUBZsGMshuJSWn7WY-quzIHOqtdBoUG-v_t6K__QtAOfSQ?key=WVRsZ2xScjQzRDVlQ2J0eFhZUGp0RktRZjBzNVBB&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/-zTVIeNeN5Zocasv8GdWSwn73OLK92HppoYsu-gBXHvfhkvBFsjMPCZOZ_IUWg9-25a5WPMf9DZFmffbxu6X_X9yI7tkrXJsTbLWfe_ThAOX3ywU514Qy4J99NDO-gTTiIma1ew=w2400' /></a>
</p>
    <div>
        <div >
            <p>Hello {{ first_name }} {{ last_name }} Thank you for using EventCom.<br> This message sent to you regarding your latest Book for the Event {{Event}} <br> <b> Login to your account for more details</b> <a href="">Login</a>
        </div>
    </div>  ​
    {% include 'app1/footer.html'%}
</body>
</html>