<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    </head>

<body>
   
<h1>
    EventCom
</h1>
    <div>
        <div >
            <p>Hello {{ first_name }} {{ last_name }} Thank you for using <b>EventCom</b>.<br> This message sent to you regarding your latest Book for the Event {{Event}} <br> <b> Login to your account for more details</b> <a href="">Login</a>
        </div>
    </div>  ​
    
</body>
</html>