<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello profile</h1>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <p>{{user.email}}</p>
   <button> <a href="">Edit profile</a> </button>
    <h1>My Events</h1>
    {% for e in allEvent %}
    <p>{{e.name}}</p>
    {% endfor %}
    
</body>
</html>