<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event</title>
</head>
<body>
    <h2>Hiii</h2>
    <p>{{Event.name}}</p>
    <p>{{Event.description}}</p>
    <p>{{Event.numberOfTickets}}</p>

    <button > <a href="\delete\{{Event.id}}"> delete</a></button>
    <button > <a href="\editProcess\{{Event.id}}"> Edit</a></button>
</body>
</html>